body{
	margin: 0;
	height: 100vh;
	font-size: 5em;
	font-family: Montserrat;
	font-weight: bold;
}

section{
	height: 100%;
}

ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: inline;
	justify-content: center;
	align-items: center;
	justify-items:center;
	height: 100vh;
}
span{
	width: 110px;
	height: 110px;
	position: absolute;
	bottom: 0;
	left: 0;
	background: black;
	border-radius: 50%;
}
a{
	color:#a12c05;
}

.container{
	max-width: 100%;
	margin: 0 auto;
	font-size: 14pt;
	font-family:"Segoe UI Light";
	padding: 25px;
}
.scrolltext{
	max-width:75%;
	position: relative;
	padding: 15px;
	left: 50%;
	transform: translate(-50%,0); 
	border-radius:15px;
	background-color: rgba(255, 255, 255, 0.8)
}
.spacer{
	height: 20px;
	background: #ffffff;
	position: relative;
	z-index: 1;
}

.starttext{
	background: #ffffff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 0%);	
	padding: 10px;
	
}

.pages{
	font-size: 16pt;
	font-family: "Segoe UI Light";
	position:absolute;
	top: 4%;
	left: 10%;
	padding: 10px;
	z-index:2;
	width: 100%;
	align-items: left;
}

.links{
	float: left;
	padding-right: 40px;
}

.portraits{
	position:absolute;
	bottom: 35%;
	left: 10%;
	z-index:3;
}
.logo{
	float:left;
	padding-right:30px;
	position:relative;
	top:-10px
}

.entry_title{
	position:absolute;
	bottom:30%;
	left:10%;
	z-index:3;
	color:#a12c05;
	font-style: bold;
	font-family: "Segoe UI";
}

.tabulated{
	padding-bottom:5px;
	padding-right:30px;
	font-style:italic;
}
.vertical{
	position:absolute;
	bottom: 35%;
	right: 10%;
	z-index:3;
}
.image{
	position:relative;
	left:50%;
	transform:translate(-50%,0);
}
	
.perf_title{
	color:#a12c05;
	font-style: bold;
	font-family: "Segoe UI"
}

.parallax2{
	position:absolute;
	bottom:-250%;
	left:0%;
	z-index:0;
}
.parallax_recital{
	position:absolute;
	bottom:-150%;
	left:0%;
	transform:translate(-50%,0);
	z-index:0;
}
	
.microphone{
	position:absolute;
	bottom:-100%;
	left:0%;
	z-index:0;
}
.guru{
	position:absolute;
	bottom:-110%;
	left:25%;
	z-index:0;
}

.parallax3{
	position:absolute;
	bottom:-400%;
	left:0%;
	z-index:0;
}
	
	
	